### OpenCart template
.htaccess
/config.php
megabackoffice/config.php
.idea/
!index.html

download/
image/data/
image/cache/
system/cache/
system/logs/

# Created by .ignore support plugin (hsz.mobi)
/vqmod/checked.cache
